{% extends 'algorithm/base.html' %}

{% block content %}
    <div class="post">
        <h1><a href="{% url 'rsa' %}">RSA</a></h1>
        <p class="about">Ikki sonni ko'paytmasiga asoslangan</p>
        <hr style="clear:both;"/>

        <h1><a href="{% url 'sezar' %}">Sezar</a></h1>
        <p class="about">Ikki so'zni qo'shishga asoslangan</p>
        <hr style="clear:both;"/>

        <h1><a href="{% url 'paillier' %}">Paillier</a></h1>
        <p class="about">Ikki sonni yi'g'indisiga asoslangan</p>
        <hr style="clear:both;"/>
    </div>
{% endblock %}